---
import Layout from '../layouts/Layout.astro';
---

<Layout>
   <div class="about-container" id="about">
      <h1>Über Mich</h1>
      <h4>Meine Fähigkeiten</h4>
      <p class="about-text">
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium,
         repellendus dolor. Nesciunt impedit totam consequuntur ab facilis harum
         doloremque, atque consequatur animi eaque rerum quidem voluptatem
         necessitatibus culpa voluptates? Quas, laborum quod. Natus? <br /><br
         />
         <ul class="about-liste">
            <li>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit.
               Officiis, asperiores a dignissimos nulla consectetur eum dolorem
               ab explicabo quam dolores, magnam error numquam.
               <p>Java Python</p>
            </li>
            <li>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
               distinctio enim, error numquam commodi officia. Magnam impedit
               hic odio illum rem sapiente aut, ad blanditiis.
               <p>HTML CSS JavaScript React Astro</p>
            </li>
            <li>
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
               illum modi voluptate voluptatum eaque quam optio tempora eveniet
               quod magnam totam dolorem sint, possimus necessitatibus vero
               impedit earum explicabo nobis?
               <p>MySQL</p>
            </li>
            <li>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem
               facilis repudiandae voluptate accusamus enim id sunt dicta
               distinctio recusandae. Eum cumque maiores, perferendis, nostrum
               aut laborum sit, corrupti cum nam error reiciendis!
            </li>
         </ul>
         <br />
         <h4>Lorem ipsum dolor sit amet.</h4>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere possimus
         ad, cumque asperiores aut deleniti fugit nihil, odit velit omnis quo pariatur
         in dolor eos aliquam numquam repellendus hic expedita quis! Nulla earum
         iste quidem dicta, pariatur assumenda et? Reprehenderit aut iusto consequuntur.<br
         />
         <br />
         <h4>Lorem, ipsum dolor.</h4>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore distinctio
         consectetur tenetur eveniet eos fuga, aliquid nihil exercitationem, molestiae
         ipsum, quisquam suscipit quaerat praesentium cumque laudantium! Nemo eos
         aperiam itaque assumenda ex incidunt veniam, voluptatem laudantium. Modi
         fuga dicta quaerat, nisi sed non quae amet in sit expedita doloremque numquam
         perspiciatis error tempore fugit praesentium voluptas veniam asperiores.<br
         />
         Natürlich auch Html, CSS und JavaScript. <br />
         Diese Seite habe ich mit
         <a href="http://astro.build" target="_blank">Astro</a> erstellt.
         <br />
         <h4>Lorem</h4>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi voluptate
         culpa, quisquam quia minima ullam perferendis adipisci corporis. Assumenda
         ipsa fugiat autem dolor voluptatibus repellendus minima, omnis, fuga corporis
         ab vitae. Impedit quo debitis vero libero distinctio obcaecati id exercitationem
         quia voluptates quod porro accusamus ut et nihil fugiat, aperiam possimus
         earum voluptate natus hic praesentium doloremque. Maxime, nemo saepe!<br
         />
         <br />
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit maxime quasi
         possimus iure doloremque minima, quisquam sequi molestiae illum ipsum explicabo
         reiciendis repellendus iusto corporis vitae doloribus ut recusandae tempore
         dolore dolor! Ex eligendi omnis ea, ducimus perferendis soluta ullam dolor
         esse. Rem distinctio, commodi ab animi nihil quisquam error sapiente ea
         adipisci dolore laudantium eos placeat. Neque rem atque odit quae necessitatibus
         libero voluptas inventore.
         <br />
         <br />
         <h4>Lorem ipsum dolor sit.</h4>
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus quia
         at aperiam quo incidunt praesentium dolores dolor hic quibusdam labore,
         debitis sit sint cum natus sunt? Deleniti perspiciatis tempora dolores beatae
         non, ducimus inventore odio. At dolorem reprehenderit, quod veniam omnis
         in quaerat harum nam voluptas aliquid exercitationem, quis quas esse suscipit
         vitae laboriosam? Eius debitis animi, optio rem corporis sunt sit recusandae
         ullam qui nostrum praesentium velit, ea possimus reprehenderit eos? Fuga
         modi sint voluptas ad aliquid laudantium aperiam facilis tempore autem nostrum.
         Pariatur debitis possimus vel ex distinctio!
      </p>
   </div>
</Layout>
