---
import Layout from '../layouts/Layout.astro';
---

<Layout>
   <div class="home-container" id="home">
      <h1>Willkommen..</h1>
      <h4>..auf meiner Portfolio-Seite!</h4>
      <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo hic
         neque, id, quo repellat iste at similique blanditiis fugit minima
         molestias asperiores autem voluptate nihil dolores esse natus vitae
         commodi? Soluta dicta sit natus perferendis vero praesentium. Odio
         expedita quia asperiores tenetur ipsum itaque fugiat accusantium maxime
         distinctio quibusdam in iure vel sapiente magnam perspiciatis quisquam
         repellat voluptas quis optio, totam, aut harum? Qui repellat eaque
         voluptates atque, ex eum, dolores error illum ea voluptatibus rerum
         temporibus ipsa velit dicta earum tempore quia ad assumenda amet.
      </p>
   </div>
</Layout>
