---
import Layout from '../layouts/Layout.astro';
---

<Layout>
   <div class="links-container" id="links">
      <h1>Links</h1>
      <h4>
         Hier sind Links zu Seiten die mich interessieren und die ich öfter
         nutze.
      </h4>
      <br />
      <div class="links">
         <a href="" target="_blank"> Lorem voluptates mollitia! </a>
         <a href="" target="_blank"> Lorem, ipsum dolor. </a>
      </div>
   </div>
</Layout>
